st
{
    color: #eeeeee;
    font-size: 21px;
    margin-left: 50px;
    margin-top: 10px;

}

bl-600
{
    color: #eeeeee;
    font-size: 28px;
    margin-left: 50px;
    margin-top: 30px;
    font-weight: 600;
}

bl-700
{
    color: #eeeeee;
    font-size: 25px;
    margin-left: 50px;
    font-weight: 500;
}

bl-300
{
    color: #eeeeee;
    font-size: 20px;
    font-weight: 300;
    margin-left: 50px;

}

name-text
{
    color: #eeeeee;
    font-size: 50px;
    font-weight: 300;
}

.white
{
    color: #ffffff
}

.black-form
{
    background-color: #1c1c1f;
    border-color: #198754;
    color: #ffffff;
}

.changing-img
{

}

.changing-img:hover
{
    padding: 2px;
}