{% extends "base.html" %}

{% block content %}
    <div class="album py-5">
        <form action="" method="post" class="container" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <h1 class="white">Редактирование профиля</h1>
            <nav class="nav container" style="padding: 20px">
                <li class="nav-item">
                    <img src="{{ url_for('static', filename=current_user.filename_photo) }}" width="300" height="300" class="rounded-circle" style="margin-top: 30px;">
                </li>
                <li class="nav-item">
                    {{ form.file.label(class="white") }}<br>
                    {{ form.file(class="white") }}<br>
                </li>
            </nav>
            <p style="margin-top: 30px;">
                {{ form.name.label(class="white") }}<br>
                {{ form.name(class="form-control black-form") }}<br>
                {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>

            <p>
                {{ form.full_name.label(class="white") }}<br>
                {{ form.full_name(class="form-control black-form") }}<br>
                {% for error in form.full_name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>

            <p>
                {{ form.about.label(class="white") }}<br>
                {{ form.about(class="form-control black-form") }}<br>
                {% for error in form.about.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>

            <p>
                {{ form.email.label(class="white") }}<br>
                {{ form.email(class="form-control black-form", type="email") }}<br>
                {% for error in form.email.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>

            <p>
                {{ form.phone.label(class="white") }}<br>
                {{ form.phone(class="form-control black-form") }}<br>
                {% for error in form.phone.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>

            <p>{{ form.submit(type="submit", class="btn btn-" + theme.style) }}</p>
            {{message}}

        </form>
    </div>

{% endblock %}