{% extends "base.html" %}

{% block content %}

    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="width: 1065px">
                {% for pub in publications %}
                    <div class="col">
                      <a href="/home" class="changing-img">
                          <img class="changing-img" src="{{ url_for('static', filename=pub) }}" width="350" height="350" vspace="2.5">
                      </a>
                    </div>
                {% endfor %}
            </div>
        </div>
      </div>

{% endblock %}