<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Подписчики</title>
 </head>
 <body>
  <p><strong>Подписчики</strong></p>
    {% for user in subs %}
        <a class="btn btn-dark nav nav-tabs" href="profile/{{user.name}}" style="margin-top: 10px">
            <div class="nav">

                    <div class="nav-item" style="margin-left: 20px">
                        <img src="{{ url_for('static', filename=user.filename_photo) }}" width="60" height="60" class="rounded-circle">
                    </div>
                    <div class="nav flex-column" align="left">
                        <bl-700>{{user.name}}</bl-700>
                        <bl-300>{{user.full_name}}</bl-300>
                    </div>
            </div>
        </a>
    {% endfor %}
 </body>