{% extends "base.html" %}

{% block content %}
    <div class="album py-5">
        <form action="" method="post" class="container">

            {{ form.hidden_tag() }}
            <h1 class="white">Авторизация</h1>
            <p>
                {{ form.name_or_email.label(class="white") }}<br>
                {{ form.name_or_email(class="form-control black-form") }}<br>
                {% for error in form.name_or_email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label(class="white") }}<br>
                {{ form.password(class="form-control black-form", type="password") }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label(class="white") }}</p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div>{{ message }}</div>
        </form><
    </div>
{% endblock %}