{% extends "base.html" %}




{% block content %}
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom border-{{theme.style}}" style="width: 1900px; margin-left: -15px">
        <div>
            {% if current_user.id == publication.user_id %}
                <a href="/profile/{{current_user.name}}">
                    <img src="{{ url_for('static', filename='icons/' + theme.icon_name + 'close.png') }}" width="50" height="50" style="margin-top: 20px; margin-right: 50px;"></a>
            {% else %}
                <a href="/explore">
                    <img src="{{ url_for('static', filename='icons/' + theme.icon_name + 'close.png') }}" width="50" height="50" style="margin-top: 20px; margin-right: 50px;"></a>
            {% endif %}

        </div>
        <div>
            <img src="{{ url_for('static', filename=publication.filename_photo) }}" width="900" height="900" style="margin-top: 20px;">
        </div>

        <nav aria-label="nav justify-content-left" style="max-width: 400px; width: 400px">

            <ol class="nav justify-content-center" style="margin-left: 50px; font-size: 44px;">
                <img src="{{ url_for('static', filename=user.filename_photo) }}" class="rounded-circle" width="200" height="200" style="margin-top: 20px;">
            </ol>

            <ol class="nav justify-content-center" style="margin-left: 50px; font-size: 44px;">
                <li class="nav-item white"> <a href="/profile/{{user.name}}"><name-text>{{ user.name }}</name-text></li></a>
            </ol>

            {% if current_user.id == publication.user_id %}
                <ol class="nav justify-content-center">
                    <a href="/edit_publication/{{publication.id}}">
                        <button class="btn btn-{{theme.style}}" style="margin-top: 20px; margin-left: 70px; width: 300px">Редактировать</button></a>
                </ol>
            {% endif %}
            <ol class="nav justify-content-left" style="margin-top: 10px;">
                <st>{{user.name + ":  " + publication.about}}</st>
            </ol>

            <ol class="nav justify-content-left" style=" position: absolute; margin-left: 50px; bottom: 160px">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    {% if current_user.id in publication.other_data.likes %}
                        <p>{{ form.like_submit
                            (type="submit", class="btn",
                            style="width: 50px; height: 50px; background: no-repeat center/100% url(" + url_for('static', filename='icons/' + theme.icon_name + 'like_true.png') + ");" ) }}
                        </p>
                    {% else %}
                        <p>{{ form.like_submit
                            (type="submit", class="btn",
                            style="width: 50px; height: 50px; background: no-repeat center/100% url(" + url_for('static', filename='icons/' + theme.icon_name + 'like_false.png') + ");" ) }}
                        </p>
                    {% endif %}
                </form>
            </ol>

            <ol class="nav justify-content-left" style="position: absolute; bottom: 120px;">
                <a href="/view_users/likes/{{publication.id}}"> <st>{{publication.other_data.likes|length}} отметок "Нравится"</st></a>
            </ol>
            <ol class="nav justify-content-left" style="position: absolute; bottom: 80px;">
                <bl-300 style="font-size: 18px; font-weight: 200;">{{date}}</bl-300>
            </ol>

        </nav>

    </header>
{% endblock %}