{% extends "base.html" %}

{% block content %}
    <div class="album py-5">
        <form action="" method="post" class="container">
            {{ form.hidden_tag() }}

            <h1 class="white">Регистрация</h1>
            <p>
                {{ form.name.label(class="white") }}<br>
                {{ form.name(class="form-control black-form") }}<br>
                {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>

            <p>
                {{ form.full_name.label(class="white") }}<br>
                {{ form.full_name(class="form-control black-form") }}<br>
                {% for error in form.full_name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>

            <p>
                {{ form.about.label(class="white") }}<br>
                {{ form.about(class="form-control black-form") }}<br>
                {% for error in form.about.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>

            <p>
                {{ form.email.label(class="white") }}<br>
                {{ form.email(class="form-control black-form", type="email") }}<br>
                {% for error in form.email.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label(class="white") }}<br>
                {{ form.password(class="form-control black-form", type="password") }}<br>
                {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.password_again.label(class="white") }}<br>
                {{ form.password_again(class="form-control black-form", type="password") }}<br>
                {% for error in form.password_again.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>

            <p>{{ form.submit(type="submit", class="btn btn-danger") }}</p>
            {{message}}

        </form>
    </div>

{% endblock %}