{% extends "base.html" %}

{% block content %}
    <div class="album py-5">
        <nav class="container">
            <h1 class="white">Найти...</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <p>
                    {{ form.name.label(class="white") }}<br>
                    {{ form.name(class="form-control black-form")}}<br>
                    {% for error in form.name.errors %}
                    {% endfor %}
                </p>

                <p>{{ form.submit(type="submit", class="btn btn-danger", style="width: 200px") }}</p>
                {{message}}

                {% if  form.validate_on_submit() %}
                    {% for user in users %}
                        <a class="btn btn-{{theme.style_btn}} nav nav-tabs" href="profile/{{user.name}}" style="margin-top: 10px">
                            <div class="nav">

                                    <div class="nav-item" style="margin-left: 20px">
                                        <img src="{{ url_for('static', filename=user.filename_photo) }}" width="60" height="60" class="rounded-circle">
                                    </div>
                                    <div class="nav flex-column" align="left">
                                        <bl-700>{{user.name}}</bl-700>
                                        <bl-300>{{user.full_name}}</bl-300>
                                    </div>
                            </div>
                        </a>
                    {% endfor %}

                {% endif %}





            </form>
        </nav>
    </div>

{% endblock %}