{% extends "base.html" %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <h1>Найти...</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(class="form-control") }}<br>
                    {% for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>

                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                {{message}}

                {% if  form.validate_on_submit() %}
                    <p>
                        User
                    </p>
                {% endif %}





            </form>
        </div>
    </div>

{% endblock %}